<section id="blog">
    <p>Hello, 我是 Ivy, 一个 web 前端设计与开发者。</p>
    <h2>TODO:</h2>
    <ul>
      <li><a href="/20220212/to-find-a-job/">找工作</a></li>
      <li><a href="/20220130/tomorrow-is-New-Year's-Eve/" style="text-decoration-line: line-through;">2022第一个月练习写作，写满一个本子</a></li>
      <li>微信公众号运营到100个粉丝</li>
    </ul>
    <p>如果你想打招呼，欢迎<a href="/contact">联系</a>我。</p>
  </section>