<section id="about">
  <p>Hello,我是Ivy,一个web前端开发。</p>
  <h2>TODO:</h2>
  <ul>
    <li>找工作</li>
    <li>2022第一个月练习写作，写满一个本子</li>
    <li>微信公众号运营到100个粉丝</li>
  </ul>
  <p>如果你想打招呼，欢迎<a href="/blog/contact">联系</a>我。</p>
</section>
