<footer id="footer">
  <hr>
  <div>
    <nav role="navigation">
      <a href="https://twitter.com/ivyisgoood">Twitter</a>
      <span>·</span>
      <a href="https://github.com/annging/">Github</a>
    </nav>
    <span>·</span>
    <span class="copyright"><%= __('footer.copyright') %> &copy;
    <% var endYear = (theme.copyright && theme.copyright.end_year) ? theme.copyright.end_year : new Date().getFullYear() %>
    <% var startYear = (theme.copyright && theme.copyright.start_year) ? theme.copyright.start_year : new Date().getFullYear() %>
    <%= startYear >= endYear ? endYear : startYear + "-" + endYear %>
    <%= config.author || config.title %>🧡</span>
  </div>
</footer>
